# Import

In [1]:
import pandas as pd

# Read dataset
file_path = "Study Case DA.xlsx"

In [2]:
# Menampilkan semua kolom tanpa terpotong
pd.set_option('display.max_columns', None)

# Read

## Employee

In [3]:
# Sheet utama
employees = pd.read_excel(file_path, sheet_name="employees")
display(employees)

,employee_id,fullname,nip,company_id,area_id,position_id,department_id,division_id,directorate_id,grade_id,education_id,major_id,years_of_service_months
0,EMP100000,Rendra Pratama,806137,1,4,1,6,3,3,2,3,1,64
1,EMP100001,Wulan Setiawan,476388,4,4,4,5,5,3,1,1,2,16
2,EMP100002,Julia Jatmiko Situmorang,941921,1,3,5,1,1,3,1,3,1,58
3,EMP100003,Oka Halim,751615,1,3,4,2,1,1,2,2,5,15
4,EMP100004,Dwi Pratama,443809,3,4,6,5,3,3,1,1,5,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005,DUP1942,Dewi Fadillah Hidayat,325441,4,4,1,4,1,1,2,2,2,79
2006,DUP2096,Putri Wibowo,149080,3,3,4,4,2,2,1,3,4,49
2007,DUP4177,Adi Ginting,116115,4,2,6,4,4,2,3,2,1,75
2008,DUP9801,Ayu Kusuma Santoso,889823,2,3,3,3,1,3,1,2,4,7
2009,DUP3452,Fitri Anugrah Subekti,890632,1,4,3,3,5,3,3,1,5,50

## Performance

In [4]:
# Baca file Excel
performance = pd.read_excel(file_path, sheet_name="performance_yearly")

# Pivot data agar 'year' jadi kolom, dan 'rating' jadi nilai
performance_pivot = performance.pivot_table(
    index='employee_id',
    columns='year',
    values='rating'
).reset_index()

# (Opsional) urutkan kolom tahun
performance_pivot = performance_pivot[['employee_id'] + sorted([c for c in performance_pivot.columns if c != 'employee_id'])]

display(performance_pivot)

year employee_id  2021  2022  2023  2024  2025
0        DUP1942   1.0   3.0   3.0   2.0   5.0
1        DUP2096   3.0   3.0   5.0   4.0   3.0
2        DUP2722   3.0   NaN   1.0   NaN   4.0
3        DUP3015   4.0   3.0   5.0   4.0   3.0
4        DUP3452   4.0   3.0   3.0   3.0   3.0
...          ...   ...   ...   ...   ...   ...
2005   EMP101995   4.0   3.0   3.0   4.0   3.0
2006   EMP101996   4.0   2.0   3.0   5.0   3.0
2007   EMP101997   NaN   3.0   2.0   4.0   3.0
2008   EMP101998   5.0   4.0   3.0   3.0   2.0
2009   EMP101999   4.0   2.0   3.0   2.0   4.0

[2010 rows x 6 columns]

## Competencies

In [5]:
# Baca data
competencies = pd.read_excel(file_path, sheet_name="competencies_yearly")

# Gabungkan pilar dan tahun jadi satu nama kolom
competencies['pillar_year'] = competencies['pillar_code'] + competencies['year'].astype(str)

# Pivot: setiap kolom = kombinasi pilar + tahun
competencies_wide = competencies.pivot_table(
    index='employee_id',
    columns='pillar_year',
    values='score'
).reset_index()

# Supaya kolom tidak multiindex
competencies_wide.columns.name = None

display(competencies_wide)

,employee_id,CEX2021,CEX2022,CEX2023,CEX2024,CEX2025,CSI2021,CSI2022,CSI2023,CSI2024,CSI2025,FTC2021,FTC2022,FTC2023,FTC2024,FTC2025,GDR2021,GDR2022,GDR2023,GDR2024,GDR2025,IDS2021,IDS2022,IDS2023,IDS2024,IDS2025,LIE2021,LIE2022,LIE2023,LIE2024,LIE2025,QDD2021,QDD2022,QDD2023,QDD2024,QDD2025,SEA2021,SEA2022,SEA2023,SEA2024,SEA2025,STO2021,STO2022,STO2023,STO2024,STO2025,VCU2021,VCU2022,VCU2023,VCU2024,VCU2025
0,DUP1942,1.0,3.0,2.0,2.0,4.0,1.0,3.0,3.0,2.0,5.0,1.0,3.0,4.0,2.0,5.0,2.0,2.0,3.0,2.0,5.0,1.0,2.0,3.0,3.0,5.0,2.0,3.0,3.0,2.0,NaN,1.0,4.0,4.0,2.0,5.0,1.0,3.0,4.0,1.0,5.0,1.0,3.0,3.0,NaN,5.0,1.0,3.0,4.0,2.0,5.0
1,DUP2096,2.0,3.0,5.0,NaN,3.0,2.0,3.0,NaN,4.0,3.0,3.0,3.0,5.0,3.0,2.0,2.0,2.0,5.0,4.0,3.0,2.0,4.0,5.0,4.0,4.0,3.0,2.0,5.0,4.0,3.0,3.0,3.0,5.0,4.0,2.0,3.0,3.0,5.0,4.0,3.0,3.0,3.0,5.0,5.0,3.0,NaN,3.0,5.0,4.0,3.0
2,DUP2722,3.0,NaN,1.0,NaN,3.0,4.0,4.0,1.0,2.0,5.0,3.0,4.0,2.0,2.0,5.0,4.0,4.0,1.0,NaN,5.0,4.0,3.0,1.0,2.0,4.0,2.0,3.0,1.0,2.0,5.0,3.0,3.0,1.0,2.0,3.0,4.0,5.0,2.0,2.0,4.0,3.0,3.0,2.0,2.0,NaN,3.0,NaN,1.0,1.0,5.0
3,DUP3015,4.0,3.0,5.0,4.0,2.0,5.0,3.0,5.0,4.0,3.0,3.0,2.0,4.0,4.0,3.0,4.0,4.0,4.0,5.0,3.0,4.0,2.0,4.0,4.0,4.0,NaN,3.0,5.0,4.0,3.0,4.0,2.0,5.0,4.0,3.0,5.0,3.0,5.0,NaN,3.0,4.0,3.0,4.0,4.0,4.0,3.0,3.0,5.0,5.0,3.0
4,DUP3452,4.0,2.0,4.0,3.0,3.0,3.0,NaN,NaN,NaN,2.0,3.0,4.0,3.0,3.0,2.0,4.0,2.0,3.0,2.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0,3.0,2.0,4.0,3.0,4.0,2.0,2.0,3.0,4.0,4.0,3.0,2.0,2.0,4.0,5.0,3.0,2.0,3.0,3.0,NaN,3.0,3.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005,EMP101995,5.0,3.0,3.0,5.0,2.0,4.0,2.0,3.0,5.0,3.0,4.0,4.0,NaN,4.0,4.0,5.0,3.0,3.0,4.0,3.0,3.0,3.0,3.0,5.0,3.0,4.0,3.0,4.0,4.0,4.0,4.0,NaN,3.0,4.0,4.0,4.0,3.0,3.0,5.0,4.0,3.0,NaN,3.0,4.0,3.0,4.0,2.0,3.0,5.0,3.0
2006,EMP101996,5.0,3.0,3.0,5.0,2.0,4.0,1.0,3.0,5.0,3.0,4.0,2.0,2.0,5.0,3.0,NaN,2.0,2.0,NaN,3.0,NaN,3.0,NaN,5.0,4.0,4.0,3.0,3.0,5.0,NaN,5.0,2.0,3.0,5.0,3.0,5.0,2.0,2.0,5.0,4.0,NaN,2.0,3.0,5.0,3.0,3.0,3.0,4.0,4.0,4.0
2007,EMP101997,NaN,3.0,2.0,4.0,2.0,NaN,3.0,1.0,5.0,3.0,NaN,3.0,2.0,4.0,3.0,NaN,4.0,2.0,5.0,NaN,NaN,3.0,2.0,5.0,3.0,NaN,NaN,2.0,4.0,3.0,NaN,3.0,1.0,3.0,3.0,NaN,3.0,2.0,4.0,3.0,NaN,2.0,2.0,4.0,4.0,NaN,3.0,2.0,4.0,3.0
2008,EMP101998,5.0,4.0,NaN,4.0,NaN,5.0,4.0,2.0,4.0,3.0,5.0,4.0,2.0,3.0,2.0,4.0,NaN,2.0,4.0,2.0,NaN,4.0,3.0,3.0,2.0,5.0,4.0,4.0,4.0,3.0,5.0,4.0,NaN,3.0,2.0,5.0,4.0,3.0,3.0,NaN,5.0,4.0,3.0,4.0,2.0,4.0,5.0,2.0,3.0,3.0
2009,EMP101999,4.0,2.0,2.0,NaN,5.0,3.0,2.0,2.0,2.0,5.0,NaN,2.0,2.0,2.0,5.0,4.0,1.0,3.0,3.0,4.0,3.0,2.0,NaN,2.0,4.0,4.0,3.0,3.0,2.0,4.0,4.0,2.0,4.0,1.0,4.0,4.0,1.0,3.0,2.0,3.0,4.0,2.0,3.0,2.0,4.0,NaN,2.0,2.0,1.0,4.0

## Profiles Psych

In [6]:
profiles = pd.read_excel(file_path, sheet_name="profiles_psych")
display(profiles)

,employee_id,pauli,faxtor,disc,disc_word,mbti,iq,gtq,tiki
0,EMP100000,86,75,SI,Steadiness-Influencer,NaN,94.0,33.0,2
1,EMP100001,48,52,DS,Dominant-Steadiness,INTP,94.0,17.0,3
2,EMP100002,66,38,DC,Dominant-Conscientious,NaN,109.0,20.0,3
3,EMP100003,39,63,SI,Steadiness-Influencer,ENTJ,85.0,39.0,3
4,EMP100004,75,100,NaN,Steadiness-Conscientious,INTJ,134.0,21.0,9
...,...,...,...,...,...,...,...,...,...
2005,DUP1942,55,54,CD,Conscientious-Dominant,ISFP,NaN,NaN,8
2006,DUP2096,27,62,SD,Steadiness-Dominant,ISFJ,NaN,NaN,4
2007,DUP4177,41,22,DS,Dominant-Steadiness,ENTJ,NaN,NaN,8
2008,DUP9801,37,64,SC,Steadiness-Conscientious,ISTJ,131.0,28.0,7
2009,DUP3452,60,65,ID,Influencer-Dominant,ESFJ,90.0,38.0,7

## Papi Scores

In [7]:
# Membaca data
papi = pd.read_excel(file_path, sheet_name="papi_scores")

# Membuat pivot: setiap employee_id jadi 1 baris, setiap scale_code jadi kolom
papi_pivot = papi.pivot_table(
    index="employee_id",
    columns="scale_code",
    values="score"
).reset_index()

# Urutkan kolom: employee_id dulu, lalu semua scale_code
papi_pivot = papi_pivot[['employee_id'] + sorted([c for c in papi_pivot.columns if c != 'employee_id'])]

# Tampilkan hasil
display(papi_pivot)

scale_code,employee_id,Papi_A,Papi_B,Papi_C,Papi_D,Papi_E,Papi_F,Papi_G,Papi_I,Papi_K,Papi_L,Papi_N,Papi_O,Papi_P,Papi_R,Papi_S,Papi_T,Papi_V,Papi_W,Papi_X,Papi_Z
0,DUP1942,6.0,NaN,1.0,4.0,3.0,5.0,4.0,1.0,3.0,6.0,NaN,3.0,5.0,7.0,9.0,9.0,1.0,8.0,3.0,NaN
1,DUP2096,1.0,6.0,9.0,3.0,4.0,1.0,2.0,6.0,9.0,3.0,1.0,4.0,4.0,6.0,8.0,2.0,6.0,3.0,8.0,2.0
2,DUP2722,2.0,NaN,6.0,4.0,1.0,4.0,9.0,9.0,1.0,3.0,8.0,2.0,NaN,6.0,1.0,7.0,3.0,6.0,3.0,3.0
3,DUP3015,5.0,4.0,3.0,4.0,9.0,2.0,8.0,9.0,1.0,7.0,5.0,1.0,8.0,7.0,3.0,NaN,NaN,3.0,5.0,3.0
4,DUP3452,7.0,9.0,1.0,9.0,7.0,3.0,NaN,2.0,1.0,4.0,NaN,NaN,4.0,2.0,9.0,NaN,9.0,1.0,6.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005,EMP101995,6.0,8.0,6.0,1.0,4.0,8.0,4.0,9.0,7.0,NaN,4.0,4.0,6.0,4.0,1.0,5.0,1.0,8.0,8.0,5.0
2006,EMP101996,8.0,4.0,5.0,NaN,5.0,7.0,8.0,7.0,4.0,7.0,8.0,5.0,NaN,3.0,7.0,1.0,2.0,7.0,5.0,2.0
2007,EMP101997,9.0,3.0,4.0,6.0,NaN,NaN,5.0,7.0,3.0,1.0,3.0,NaN,5.0,6.0,5.0,NaN,4.0,7.0,4.0,1.0
2008,EMP101998,5.0,7.0,1.0,NaN,2.0,5.0,5.0,1.0,2.0,4.0,4.0,NaN,9.0,4.0,4.0,1.0,7.0,9.0,2.0,NaN
2009,EMP101999,8.0,6.0,1.0,3.0,1.0,9.0,2.0,1.0,7.0,7.0,6.0,9.0,8.0,8.0,2.0,8.0,4.0,9.0,8.0,3.0

## Strengths

In [8]:
# Baca file Excel
strength = pd.read_excel(file_path, sheet_name="strengths")

# Pivot data: jadikan rank sebagai kolom dan theme sebagai nilai
strength_pivot = strength.pivot_table(
    index="employee_id",
    columns="rank",
    values="theme",
    aggfunc="first"
).reset_index()

# Ganti nama kolom supaya jadi Rank1, Rank2, Rank3, dst
strength_pivot.columns = [
    "employee_id" if col == "employee_id" else f"Rank{int(col)}"
    for col in strength_pivot.columns
]

# Urutkan kolom Rank1, Rank2, Rank3, ...
rank_cols = sorted([c for c in strength_pivot.columns if c.startswith("Rank")],
                   key=lambda x: int(x.replace("Rank", "")))
strength_pivot = strength_pivot[["employee_id"] + rank_cols]

# Tampilkan hasil
display(strength_pivot)

,employee_id,Rank1,Rank2,Rank3,Rank4,Rank5,Rank6,Rank7,Rank8,Rank9,Rank10,Rank11,Rank12,Rank13,Rank14
0,DUP1942,Learner,Maximizer,Ideation,Harmony,Restorative,Belief,Input,Significance,Empathy,Connectedness,Positivity,Communication,Individualization,Woo
1,DUP2096,Command,Significance,Competition,Discipline,Woo,Activator,NaN,Strategic,Ideation,Deliberative,Achiever,Learner,NaN,Consistency
2,DUP2722,Individualization,Self-Assurance,NaN,Analytical,Input,Deliberative,NaN,Activator,Belief,Developer,Positivity,Maximizer,Significance,Connectedness
3,DUP3015,Responsibility,Context,Includer,Communication,Ideation,Command,Learner,Intellection,Empathy,Strategic,Deliberative,Arranger,Relator,Positivity
4,DUP3452,Developer,Arranger,Self-Assurance,Futuristic,Learner,Maximizer,Context,Significance,Adaptability,Connectedness,Ideation,Communication,Relator,Strategic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005,EMP101995,Belief,Relator,NaN,Consistency,Context,NaN,Analytical,Discipline,Ideation,Adaptability,Futuristic,Learner,Focus,Input
2006,EMP101996,Positivity,Achiever,Woo,Restorative,Maximizer,Harmony,Input,Command,NaN,Strategic,Includer,Competition,Intellection,Focus
2007,EMP101997,Positivity,NaN,Empathy,Restorative,Relator,Context,Futuristic,Belief,Focus,Maximizer,Analytical,Activator,NaN,Communication
2008,EMP101998,Achiever,Command,Connectedness,Activator,Self-Assurance,Learner,Relator,Includer,Restorative,Woo,Input,Arranger,Focus,Empathy
2009,EMP101999,Ideation,Input,Positivity,Adaptability,Connectedness,Discipline,Competition,Learner,Includer,Empathy,Activator,Significance,Responsibility,Harmony

## Dimension

In [9]:
pillars = pd.read_excel(file_path, sheet_name="dim_competency_pillars")
# Dimensi organisasi
dim_grades = pd.read_excel(file_path, sheet_name="dim_grades")
dim_directorates = pd.read_excel(file_path, sheet_name="dim_directorates")
dim_divisions = pd.read_excel(file_path, sheet_name="dim_divisions")
dim_departments = pd.read_excel(file_path, sheet_name="dim_departments")
dim_positions = pd.read_excel(file_path, sheet_name="dim_positions")
dim_education = pd.read_excel(file_path, sheet_name="dim_education")
dim_majors = pd.read_excel(file_path, sheet_name="dim_majors")
dim_areas = pd.read_excel(file_path, sheet_name="dim_areas")
dim_companies = pd.read_excel(file_path, sheet_name="dim_companies")

In [10]:
display(pillars, dim_grades, dim_directorates, dim_divisions, dim_departments,
        dim_positions, dim_education, dim_majors, dim_areas, dim_companies)

  pillar_code                  pillar_label
0         GDR     Growth Drive & Resilience
1         CEX   Curiosity & Experimentation
2         IDS  Insight & Decision Sharpness
3         QDD   Quality Delivery Discipline
4         STO    Synergy & Team Orientation
5         SEA    Social Empathy & Awareness
6         VCU      Value Creation for Users
7         LIE       Lead, Inspire & Empower
8         FTC    Forward Thinking & Clarity
9         CSI     Commercial Savvy & Impact

   grade_id name
0         1  III
1         2   IV
2         3    V

   directorate_id               name
0               1         Commercial
1               2  HR & Corp Affairs
2               3         Technology

   division_id               name
0            1  Digital Marketing
1            2         Operations
2            3        Product Dev
3            4              Sales
4            5  Talent Management

   department_id        name
0              1     Finance
1              2          HR
2              3          IT
3              4   Marketing
4              5  Operations
5              6         R&D

   position_id              name
0            1   Brand Executive
1            2      Data Analyst
2            3   Finance Officer
3            4              HRBP
4            5  Sales Supervisor
5            6    Supply Planner

   education_id name
0             1   D3
1             2   S1
2             3   S2
3             4  SMA

   major_id         name
0         1     Business
1         2       Design
2         3    Economics
3         4  Engineering
4         5   Psychology
5         6   Statistics

   area_id          name
0        1  Distribution
1        2            HQ
2        3         Plant
3        4         Store

   company_id                            name
0           1      PT Aurora Beauty Indonesia
1           2               PT VASKA Wellness
2           3          PT Lumo Cosmetics Asia
3           4  PT Mandala Distribution Center

In [12]:
# Buat dictionary mapping dari setiap tabel dimensi
map_company = dict(zip(dim_companies["company_id"], dim_companies["name"]))
map_area = dict(zip(dim_areas["area_id"], dim_areas["name"]))
map_position = dict(zip(dim_positions["position_id"], dim_positions["name"]))
map_department = dict(zip(dim_departments["department_id"], dim_departments["name"]))
map_division = dict(zip(dim_divisions["division_id"], dim_divisions["name"]))
map_directorate = dict(zip(dim_directorates["directorate_id"], dim_directorates["name"]))
map_grade = dict(zip(dim_grades["grade_id"], dim_grades["name"]))
map_education = dict(zip(dim_education["education_id"], dim_education["name"]))
map_major = dict(zip(dim_majors["major_id"], dim_majors["name"]))

# Replace ID dengan nama berdasarkan mapping
employees["company_id"] = employees["company_id"].map(map_company)
employees["area_id"] = employees["area_id"].map(map_area)
employees["position_id"] = employees["position_id"].map(map_position)
employees["department_id"] = employees["department_id"].map(map_department)
employees["division_id"] = employees["division_id"].map(map_division)
employees["directorate_id"] = employees["directorate_id"].map(map_directorate)
employees["grade_id"] = employees["grade_id"].map(map_grade)
employees["education_id"] = employees["education_id"].map(map_education)
employees["major_id"] = employees["major_id"].map(map_major)

# Ubah nama kolom agar lebih deskriptif
employees = employees.rename(columns={
    "company_id": "company_name",
    "area_id": "area_name",
    "position_id": "position_name",
    "department_id": "department_name",
    "division_id": "division_name",
    "directorate_id": "directorate_name",
    "grade_id": "grade_name",
    "education_id": "education_name",
    "major_id": "major_name"
})

display(employees)

,employee_id,fullname,nip,company_name,area_name,position_name,department_name,division_name,directorate_name,grade_name,education_name,major_name,years_of_service_months
0,EMP100000,Rendra Pratama,806137,PT Aurora Beauty Indonesia,Store,Brand Executive,R&D,Product Dev,Technology,IV,S2,Business,64
1,EMP100001,Wulan Setiawan,476388,PT Mandala Distribution Center,Store,HRBP,Operations,Talent Management,Technology,III,D3,Design,16
2,EMP100002,Julia Jatmiko Situmorang,941921,PT Aurora Beauty Indonesia,Plant,Sales Supervisor,Finance,Digital Marketing,Technology,III,S2,Business,58
3,EMP100003,Oka Halim,751615,PT Aurora Beauty Indonesia,Plant,HRBP,HR,Digital Marketing,Commercial,IV,S1,Psychology,15
4,EMP100004,Dwi Pratama,443809,PT Lumo Cosmetics Asia,Store,Supply Planner,Operations,Product Dev,Technology,III,D3,Psychology,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005,DUP1942,Dewi Fadillah Hidayat,325441,PT Mandala Distribution Center,Store,Brand Executive,Marketing,Digital Marketing,Commercial,IV,S1,Design,79
2006,DUP2096,Putri Wibowo,149080,PT Lumo Cosmetics Asia,Plant,HRBP,Marketing,Operations,HR & Corp Affairs,III,S2,Engineering,49
2007,DUP4177,Adi Ginting,116115,PT Mandala Distribution Center,HQ,Supply Planner,Marketing,Sales,HR & Corp Affairs,V,S1,Business,75
2008,DUP9801,Ayu Kusuma Santoso,889823,PT VASKA Wellness,Plant,Finance Officer,IT,Digital Marketing,Technology,III,S1,Engineering,7
2009,DUP3452,Fitri Anugrah Subekti,890632,PT Aurora Beauty Indonesia,Store,Finance Officer,IT,Talent Management,Technology,V,D3,Psychology,50

In [13]:

# 1️⃣ Mulai dari tabel employees (yang sudah pakai nama, bukan ID)
master = employees.copy()

# 2️⃣ Gabungkan Performance (pivot sudah berbentuk employee_id | 2021..2025)
master = master.merge(performance_pivot, on="employee_id", how="left")

# 3️⃣ Gabungkan Competencies (pivot sudah berbentuk employee_id | CEX2021..VCU2025)
master = master.merge(competencies_wide, on="employee_id", how="left")

# 4️⃣ Gabungkan Profiles Psych (IQ, GTQ, MBTI, dll)
master = master.merge(profiles, on="employee_id", how="left")

# 5️⃣ Gabungkan PAPI Scores (sudah dipivot jadi employee_id | Papi_A..Z)
master = master.merge(papi_pivot, on="employee_id", how="left")

# 6️⃣ Gabungkan Strengths (Rank1–Rank14)
master = master.merge(strength_pivot, on="employee_id", how="left")

# ======================================================
# 🔍 CEK HASIL GABUNGAN
# ======================================================
print("Jumlah baris master dataset:", len(master))
print("Jumlah kolom:", len(master.columns))
display(master)

# (Opsional) Simpan untuk analisis berikutnya
master.to_csv("master_dataset.csv", index=False)
print("\n✅ File 'master_dataset.csv' berhasil disimpan.")

Jumlah baris master dataset: 2010
Jumlah kolom: 110

,employee_id,fullname,nip,company_name,area_name,position_name,department_name,division_name,directorate_name,grade_name,education_name,major_name,years_of_service_months,2021,2022,2023,2024,2025,CEX2021,CEX2022,CEX2023,CEX2024,CEX2025,CSI2021,CSI2022,CSI2023,CSI2024,CSI2025,FTC2021,FTC2022,FTC2023,FTC2024,FTC2025,GDR2021,GDR2022,GDR2023,GDR2024,GDR2025,IDS2021,IDS2022,IDS2023,IDS2024,IDS2025,LIE2021,LIE2022,LIE2023,LIE2024,LIE2025,QDD2021,QDD2022,QDD2023,QDD2024,QDD2025,SEA2021,SEA2022,SEA2023,SEA2024,SEA2025,STO2021,STO2022,STO2023,STO2024,STO2025,VCU2021,VCU2022,VCU2023,VCU2024,VCU2025,pauli,faxtor,disc,disc_word,mbti,iq,gtq,tiki,Papi_A,Papi_B,Papi_C,Papi_D,Papi_E,Papi_F,Papi_G,Papi_I,Papi_K,Papi_L,Papi_N,Papi_O,Papi_P,Papi_R,Papi_S,Papi_T,Papi_V,Papi_W,Papi_X,Papi_Z,Rank1,Rank2,Rank3,Rank4,Rank5,Rank6,Rank7,Rank8,Rank9,Rank10,Rank11,Rank12,Rank13,Rank14
0,EMP100000,Rendra Pratama,806137,PT Aurora Beauty Indonesia,Store,Brand Executive,R&D,Product Dev,Technology,IV,S2,Business,64,2.0,3.0,1.0,3.0,3.0,1.0,4.0,1.0,3.0,3.0,1.0,2.0,NaN,3.0,3.0,2.0,3.0,1.0,3.0,4.0,2.0,NaN,2.0,3.0,3.0,2.0,3.0,1.0,3.0,4.0,2.0,4.0,1.0,2.0,3.0,2.0,99.0,NaN,4.0,3.0,2.0,2.0,1.0,4.0,2.0,1.0,3.0,2.0,3.0,3.0,2.0,3.0,1.0,3.0,4.0,86,75,SI,Steadiness-Influencer,NaN,94.0,33.0,2,1.0,6.0,5.0,NaN,1.0,3.0,5.0,8.0,NaN,7.0,2.0,9.0,3.0,7.0,9.0,3.0,4.0,4.0,2.0,1.0,NaN,Adaptability,Context,Competition,Activator,Positivity,Significance,Empathy,Ideation,Developer,Communication,Command,Analytical,Intellection
1,EMP100001,Wulan Setiawan,476388,PT Mandala Distribution Center,Store,HRBP,Operations,Talent Management,Technology,III,D3,Design,16,NaN,3.0,4.0,4.0,3.0,NaN,4.0,4.0,3.0,2.0,NaN,3.0,4.0,4.0,3.0,NaN,3.0,4.0,3.0,3.0,NaN,3.0,5.0,5.0,2.0,NaN,3.0,3.0,5.0,3.0,NaN,3.0,4.0,4.0,2.0,NaN,3.0,NaN,3.0,2.0,NaN,3.0,4.0,4.0,NaN,NaN,3.0,4.0,4.0,2.0,NaN,3.0,4.0,4.0,3.0,48,52,DS,Dominant-Steadiness,INTP,94.0,17.0,3,3.0,1.0,7.0,4.0,2.0,2.0,2.0,4.0,6.0,7.0,8.0,9.0,5.0,3.0,3.0,6.0,7.0,1.0,6.0,9.0,Responsibility,Includer,Significance,Context,Adaptability,Intellection,Developer,Command,Strategic,Discipline,Woo,Relator,Positivity,Deliberative
2,EMP100002,Julia Jatmiko Situmorang,941921,PT Aurora Beauty Indonesia,Plant,Sales Supervisor,Finance,Digital Marketing,Technology,III,S2,Business,58,2.0,3.0,3.0,NaN,4.0,3.0,3.0,3.0,5.0,5.0,2.0,4.0,2.0,4.0,3.0,1.0,3.0,3.0,4.0,NaN,1.0,3.0,2.0,4.0,3.0,2.0,2.0,4.0,4.0,3.0,1.0,NaN,3.0,4.0,3.0,3.0,NaN,2.0,3.0,5.0,2.0,3.0,3.0,4.0,3.0,2.0,3.0,3.0,4.0,4.0,NaN,NaN,2.0,NaN,4.0,66,38,DC,Dominant-Conscientious,NaN,109.0,20.0,3,2.0,NaN,4.0,2.0,5.0,7.0,2.0,8.0,4.0,NaN,9.0,5.0,3.0,1.0,3.0,9.0,9.0,1.0,4.0,6.0,Restorative,Maximizer,Woo,Includer,Command,NaN,Futuristic,Focus,NaN,NaN,Analytical,NaN,NaN,Positivity
3,EMP100003,Oka Halim,751615,PT Aurora Beauty Indonesia,Plant,HRBP,HR,Digital Marketing,Commercial,IV,S1,Psychology,15,NaN,4.0,2.0,1.0,3.0,NaN,NaN,1.0,1.0,3.0,NaN,3.0,2.0,1.0,3.0,NaN,4.0,1.0,1.0,3.0,NaN,4.0,2.0,1.0,4.0,NaN,4.0,2.0,1.0,3.0,NaN,4.0,2.0,1.0,2.0,NaN,3.0,2.0,1.0,3.0,NaN,3.0,3.0,1.0,3.0,NaN,4.0,3.0,1.0,NaN,NaN,3.0,NaN,NaN,4.0,39,63,SI,Steadiness-Influencer,ENTJ,85.0,39.0,3,NaN,8.0,9.0,2.0,6.0,5.0,3.0,8.0,5.0,3.0,9.0,1.0,8.0,9.0,1.0,1.0,7.0,7.0,4.0,3.0,Belief,Intellection,Arranger,NaN,Adaptability,Communication,Maximizer,Input,Command,Connectedness,Context,Significance,Developer,Activator
4,EMP100004,Dwi Pratama,443809,PT Lumo Cosmetics Asia,Store,Supply Planner,Operations,Product Dev,Technology,III,D3,Psychology,34,3.0,3.0,4.0,2.0,4.0,3.0,3.0,4.0,NaN,4.0,3.0,4.0,4.0,1.0,3.0,3.0,4.0,4.0,3.0,3.0,3.0,4.0,3.0,2.0,4.0,3.0,3.0,3.0,2.0,3.0,3.0,3.0,4.0,3.0,NaN,2.0,3.0,4.0,1.0,3.0,2.0,2.0,3.0,2.0,3.0,3.0,4.0,4.0,2.0,5.0,3.0,3.0,4.0,NaN,NaN,75,100,NaN,Steadiness-Conscientious,INTJ,134.0,21.0,9,5.0,4.0,4.0,5.0,3.0,7.0,8.0,9.0,1.0,3.0,7.0,6.0,7.0,1.0,2.0,9.0,2.0,1.0,3.0,6.0,Deliberative,Command,Woo,Communication,Ideation,Maximizer,Belief,Learner,Adaptability,Intellection,Includer,Activator,Relator,Self-Assurance
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005,DUP1942,Dewi Fadillah Hidayat,325441,PT Mandala Distribution Center,Store,Brand Executive,Marketing,Digital Marketing,Commercial,IV,S1,Design,79,1.0,3.0,3.0,2.0,5.0,1.0,3.0,2.0,2.0,4.0,1.0,3.0,3.0,2.0,5.0,1.0,3.0,4.0,2.0,5.0,2.0,2.0,3.0,2.0,5.0,1.0,2.0,3.0,3.0,5.0,2.0,3.0,3.0,2.0,NaN,1.0,4.0,4.0,2.0,5.0,1.0,3.0,4.0,1.0,5.0,1.0,3.0,3.0,NaN,5.0,1.0,3.0,4.0,2.0,5.0,55,54,CD,Conscientious-Dominant,ISFP,NaN,NaN,8,6.0,NaN,1.0,4.0,3.0,5.0,4.0,1.0,3.0,6.0,NaN,3.0,5.0,7.0,9.0,9.0,1.0,8.0,3.0,NaN,Learner,Maximizer,Ideation,Harmony,Restorative,Belief,Input,Significance,Empathy,Connectedness,Positivity,Communication,Individualization,Woo
2006,DUP2096,Putri Wibowo,149080,PT Lumo Cosmetics Asia,Plant,HRBP,Marketing,Operations,HR & Corp Affairs,III,S2,Engineering,49,3.0,3.0,5.0,4.0,3.0,2.0,3.0,5.0,NaN,3.0,2.0,3.0,NaN,4.0,3.0,3.0,3.0,5.0,3.0,2.0,2.0,2.0,5.0,4.0,3.0,2.0,4.0,5.0,4.0,4.0,3.0,2.0,5.0,4.0,3.0,3.0,3.0,5.0,4.0,2.0,3.0,3.0,5.0,4.0,3.0,3.0,3.0,5.0,5.0,3.0,NaN,3.0,5.0,4.0,3.0,27,62,SD,Steadiness-Dominant,ISFJ,NaN,NaN,4,1.0,6.0,9.0,3.0,4.0,1.0,2.0,6.0,9.0,3.0,1.0,4.0,4.0,6.0,8.0,2.0,6.0,3.0,8.0,2.0,Command,Significance,Competition,Discipline,Woo,Activator,NaN,Strategic,Ideation,Deliberative,Achiever,Learner,NaN,Consistency
2007,DUP4177,Adi Ginting,116115,PT Mandala Distribution Center,HQ,Supply Planner,Marketing,Sales,HR & Corp Affairs,V,S1,Business,75,4.0,3.0,3.0,4.0,2.0,5.0,3.0,3.0,NaN,2.0,4.0,4.0,3.0,5.0,2.0,4.0,4.0,3.0,4.0,2.0,4.0,4.0,4.0,5.0,1.0,4.0,3.0,3.0,4.0,2.0,4.0,2.0,3.0,4.0,2.0,NaN,2.0,3.0,4.0,1.0,4.0,2.0,3.0,4.0,2.0,4.0,3.0,NaN,4.0,2.0,4.0,4.0,3.0,NaN,3.0,41,22,DS,Dominant-Steadiness,ENTJ,NaN,NaN,8,9.0,7.0,2.0,6.0,1.0,NaN,4.0,4.0,3.0,9.0,8.0,3.0,3.0,NaN,7.0,6.0,3.0,1.0,3.0,2.0,Arranger,Significance,Harmony,Strategic,Adaptability,Achiever,Includer,Empathy,Positivity,NaN,Intellection,Woo,Futuristic,Relator
2008,DUP9801,Ayu Kusuma Santoso,889823,PT VASKA Wellness,Plant,Finance Officer,IT,Digital Marketing,Technology,III,S1,Engineering,7,NaN,5.0,NaN,2.0,5.0,NaN,5.0,1.0,2.0,5.0,NaN,5.0,1.0,2.0,5.0,NaN,5.0,2.0,2.0,4.0,NaN,5.0,1.0,3.0,5.0,NaN,4.0,2.0,3.0,5.0,NaN,5.0,2.0,2.0,4.0,NaN,5.0,1.0,2.0,5.0,NaN,5.0,NaN,1.0,5.0,NaN,4.0,2.0,NaN,5.0,NaN,5.0,2.0,2.0,5.0,37,64,SC,Steadiness-Conscientious,ISTJ,131.0,28.0,7,1.0,1.0,4.0,7.0,8.0,2.0,9.0,6.0,5.0,NaN,2.0,7.0,5.0,6.0,3.0,9.0,9.0,NaN,9.0,1.0,NaN,Responsibility,Communication,NaN,Positivity,Consistency,Futuristic,Individualization,Harmony,Arranger,Context,NaN,Input,Ideation
2009,DUP3452,Fitri Anugrah Subekti,890632,PT Aurora Beauty Indonesia,Store,Finance Officer,IT,Talent Management,Technology,V,D3,Psychology,50,4.0,3.0,3.0,3.0,3.0,4.0,2.0,4.0,3.0,3.0,3.0,NaN,NaN,NaN,2.0,3.0,4.0,3.0,3.0,2.0,4.0,2.0,3.0,2.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0,3.0,2.0,4.0,3.0,4.0,2.0,2.0,3.0,4.0,4.0,3.0,2.0,2.0,4.0,5.0,3.0,2.0,3.0,3.0,NaN,3.0,3.0,2.0,4.0,60,65,ID,Influencer-Dominant,ESFJ,90.0,38.0,7,7.0,9.0,1.0,9.0,7.0,3.0,NaN,2.0,1.0,4.0,NaN,NaN,4.0,2.0,9.0,NaN,9.0,1.0,6.0,4.0,Developer,Arranger,Self-Assurance,Futuristic,Learner,Maximizer,Context,Significance,Adaptability,Connectedness,Ideation,Communication,Relator,Strategic

✅ File 'master_dataset.csv' berhasil disimpan.